{% extends "layaut.twig" %}

{% block content %}
    <span class="h1">Add Job</span>

    <div class="alert alert-primary" role="alert">
        {{responseMessage}}
    </div>

    <form action="/jobs/add" class="for-control" method="post" enctype="multipart/form-data">

        <label for="">Title:
        </label>
        <input class="for-control" type="text" name="title" id="">
        <label for="">Description:
        </label>
        <input class="for-control" type="text" name="description" id="">
        <div class="form-group">
          <label for="logo"></label>
          <input type="file" class="form-control-file" name="logo" id="" placeholder="Logo" aria-describedby="fileHelpId">
        </div>
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
{% endblock %}
